apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ minio_name }}
  namespace: {{ namespace }}
spec:
  replicas: {{ minio_replicas }}
  selector:
    matchLabels:
      app: {{ minio_name }}
  template:
    metadata:
      labels:
        app: {{ minio_name }}
    spec:
      # 容忍控制节点污点（允许部署在Master）
      tolerations:
        - key: "node-role.kubernetes.io/control-plane"
          operator: "Exists"
          effect: "NoSchedule"
        - key: "node-role.kubernetes.io/master"
          operator: "Exists"
          effect: "NoSchedule"
      containers:
        - name: minio
          image: {{ minio_image }}
          resources:
            requests:
              cpu: "500m"
              memory: "1Gi"
            limits:
              cpu: "1000m"
              memory: "2Gi"
          ports:
            - containerPort: {{ minio_port }}
            - containerPort: {{ minio_console_port }}
          env:
            - name: MINIO_ROOT_USER
              valueFrom:
                secretKeyRef:
                  name: {{ minio_name }}-secret
                  key: root-user
            - name: MINIO_ROOT_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ minio_name }}-secret
                  key: root-password
          args:
            - server
            - /data  # 单节点存储路径
          volumeMounts:
            - name: minio-data
              mountPath: /data       # 挂载数据卷（PVC）
      volumes:
        # 单节点模式添加数据卷（关联PVC）
        - name: minio-data
          persistentVolumeClaim:
            claimName: {{ minio_name }}-data  # 关联单节点模式创建的PVC
